nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
}

nav {
    width: 500%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid orange;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}